<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css" />
    <title>Document</title>
  </head>
  <body>
    <%- include('partials/nav.ejs') %>
    <h1>Contact Us</h1>
    <p>
      Contact guy like me you get good oppurtinity in real life so contact me
    </p>
  </body>
</html>
