<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css" />
    <title>Document</title>
  </head>
  <body>
    <%- include('partials/nav.ejs') %>
    <h1>Welcome to the most awesome website on the net</h1>
    <p>You won't find anything better</p>
  </body>
</html>
